<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>标题：<%= data[0]['title']%>
    标签：<%= data[0]['tag']%>
    作者:<%= data[0]['author']%>
    时间:<%= data[0]['time']%><br>
    内容:<%= data[0]['content']%>
</p>
<p></p>
<% if(pinglun.length != 0) {%>
    <%for(var i in pinglun) {%>
        <%= pinglun[i]['uid']%>:
        <%= pinglun[i]['content']%><br>
    <%}%>
<%}%>

<p></p>
<form action="/article/<%= data[0]['id'] %>.html" method="post">
    评论： <input name="content" >
    <input type="submit">
</form>
</body>
</html>