<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h5><%= data[0]['title']%>
    <%= data[0]['tag']%>
    <%= data[0]['content']%>
    <%= data[0]['time']%>
    <%= data[0]['author']%></h5>
</body>
</html>