<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        a{
            text-decoration: none;
            font: bold 24px "";
        }
        header{
            text-align: right;
            letter-spacing: 10px;
        }
        body{
            text-align: center;
        }
    </style>
</head>
<body>
<header>
    <a href="/login">登录</a>
    <a href="/reg">注册</a>
    <a href="/logout">退出</a>
    <a href="/admin">管理员</a>
</header>

<h1>博客首页</h1>

<!--<%- locals.admin %>-->
<%- locals.login %>

<% if(locals.login) {%>
已经登陆成功
    <% if(locals.admin){%>
        你是管理员
    <%}%>
<% }else{ %>
<input class="user" type="text">
<input class="pass" type="text">
<input class="submit" value ="登录"type="button">

<% } %>

<!--<%- locals.result %>-->

<% for(var i in data){%>
    <li>
        <a href="/article/<%= data[i]['id']%>.html">
        <p>标题：<%= data[i]['title']%>
            标签：<%= data[i]['tag']%>
            作者:<%= data[i]['author']%>
            时间:<%= data[i]['time']%><br>
            内容:<%= data[i]['content']%>
        </p>
        </a>

    </li>
<%}%>

<!--<form action="/reg" method="post">-->
    <!--<input type="text" name="user">-->
    <!--<input type="text" name="pass">-->
    <!--<input type="submit" value ="注册">-->
<!--</form>-->
</body>
</html>
<script src="/js/jquery.js"></script>
<script>
    $('.submit').click(function (){
        $.ajax({
            url:'/login',
            type:'post',
            dataType:'json',
            data:{
                name:$('.user').val(),
                pass:$('.pass').val()
            },
            success:function (data){
                //console.log(data);
                window.location.href=window.location.href;
                window.location.reload;
            },
            error:function (data){
                // 返回的值不是规定的 dataType  类型 error
                console.log('err' + data);
            }
        })
    })
</script>