<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        a{
            text-decoration: none;
            font: bold 16px "";
        }
        header{
            text-align: right;
        }
        body{
            text-align: center;
        }
    </style>
</head>
<body>
<header>
    <% if(locals.login && !locals.admin) {%>
        欢迎用户：<%= locals.login %>
        <a href="/logout">退出</a>
    <%}else if(locals.login && locals.admin){%>
        欢迎管理员：<%= locals.login %>
        <a href="/logout">退出</a>
        <a href="/admin">管理员</a>
    <%}else{%>
        <a href="/login">登录</a>
        <a href="/reg">注册</a>
    <%}%>
</header>
<a href="/article/list-1.html">文章列表</a>
<h1>博客首页</h1>
<form action="/search" method="get">
    <input type="text" name="search">
    <input type="submit">
</form>

<!--<%- locals.admin %>-->



<% for(var i in data){%>
    <li>
        <a href="/article/<%= data[i]['id']%>.html">
        <p>标题：<%= data[i]['title']%>
            标签：<%= data[i]['tag']%>
            作者:<%= data[i]['author']%>
            时间:<%= data[i]['time']%><br>
            内容:
            <div>
                <%- data[i]['content']%>
            </div>
            封面:<img src="<%= data[i]['img']%>" alt="暂时没有好看的图" width="400" height="400">
        </p>
        </a>

    </li>
<%}%>

<!--<form action="/reg" method="post">-->
    <!--<input type="text" name="user">-->
    <!--<input type="text" name="pass">-->
    <!--<input type="submit" value ="注册">-->
<!--</form>-->
</body>
</html>
<script src="/js/jquery.js"></script>
<script>
    $('.submit').click(function (){
        $.ajax({
            url:'/login',
            type:'post',
            dataType:'json',
            data:{
                name:$('.user').val(),
                pass:$('.pass').val()
            },
            success:function (data){
                //console.log(data);
                window.location.href=window.location.href;
                window.location.reload;
            },
            error:function (data){
                // 返回的值不是规定的 dataType  类型 error
                console.log('err' + data);
            }
        })
    })
</script>